.modal {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 340px;
}

.modal-logo {
  width: 39%;
  margin-bottom: var(--spacing-40);
}

.modal-title {
  margin: 0;
  margin-bottom: 24px;
  font-size: var(--font-size-24);
  font-weight: var(--font-weight-bold);
  color: var(--color-black);
}

.modal-text {
  margin: 0;
  margin-bottom: 24px;
  text-align: center;
  font-size: var(--font-size-18);
  font-weight: var(--font-weight-regular);
  color: var(--color-black);
}

.modal-form {
  width: 100%;
  margin-bottom: var(--spacing-24);
}

.modal-form__field {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-12);
  margin-bottom: var(--spacing-24);
}

.modal-form__input::placeholder {
  color: var(--color-modal-form);
}

.modal__form-icon {
  width: 22px;
  height: 22px;
  color: var(--color-modal-form);
  margin-right: 10px;
}

.modal-form__btn.base-button {
  width: 100%;
  background-color: var(--color-blue-button);
}

.modal-btn.base-button {
  padding: 0;
  border-radius: 0;
  height: 23px;
  color: var(--color-black);
  background-color: transparent;
}

.modal__form-error {
  display: inline-block;
  padding-top: 5px;
  color: var(--color-error);
}
